#inicio{
    width: 100%;
    height: 100vh;
    background-image: url(../../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-inicio{
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-titulo{
    width: 50%;
    height: 40%;
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.titulo-inicio{
   font-size: 80px;
   font-family: "Monsieur La Doulaise", cursive;
   color: #fff;
   font-weight: 500;
}

@media screen and (max-width: 768px) {
    #inicio{
        width: 100%;
        height: 100%;
    }

    .container-inicio{
        width: 100%;
        height: 50vh;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-titulo{
        width: 55%;
        height: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .titulo-inicio{
        font-size: 32px;
    }
}